body {
    background-color: beige;
}

footer {
  background: #111;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-top: 50px;
}
.producto:hover{
    transform: scale(1.05);
}
.imagenes_producto {
    display: flex;
    justify-content: center;
}
textarea {
    resize: none;
}
iframe{
    border: 1px solid black;
}
