body {
    background-color: beige;
}

footer {
    background: #111;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
}

.producto:hover {
    transform: scale(1.05);
}

textarea {
    resize: none;
}

iframe {
    border: 1px solid black;
}

.imagenes img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    display: block;
}

article {
    display: flex;
    flex-direction: column;
    height: 100%;
}